{% load static %}
{% load i18n %}
<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"> 
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap" rel="stylesheet">
    <title>Center</title>
  <style>
   .jumbotron { 
    /*background-color: #0000FF; */
    background-image: url({% static "img/clouds.jpg" %});
   }
  </style> 
  </head>
  <body> 
      <div class="jumbotron jumbotron-fluid"  id="jumbotron">
          <div class="container">
   <p class="lead" align="right">
{% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'account_logout' %}" role="button">Выйти</a> 
{% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Регистрация</a>   
    <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button">Войти</a>
{% endif %}
  </p>
		    <h3 align="justify">{{ bible.text }}</h3>
            <h1 class="display-6" align="right">{{ bible.link }}</h1>
            </div>
          </div>
      </div>
      <div class="col-sm-12">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
		      <a href="{% url 'about' %}"><button type="button" class="btn btn-warning btn-lg btn-block">Главная</button></a>
		      <p></p>
		      <a href="{% url 'news_list' %}"><button type="button" class="btn btn-warning btn-lg btn-block">Новости</button></a>
		      <p></p>
		      <a href="{% url 'foto' %}"><button type="button" class="btn btn-warning btn-lg btn-block">Фото</button></a>
		      <p></p>
		      <a href="{% url 'video' %}"><button type="button" class="btn btn-warning btn-lg btn-block">Видео</button></a>
		      <p></p>
		      <a href="{% url 'post_list' %}"><button type="button" class="btn btn-warning btn-lg btn-block">Форум</button></a>
		      <p></p>
		      <a href="{% url 'contacts' %}"><button type="button" class="btn btn-warning btn-lg btn-block">Контакты</button></a>
              <p></p>
            </div> 
            <div class="col-sm-9">
              {% block content %}
			  {% endblock %}
            </div>
           </div>
         </div>
       </div>
       <p></p>
  <p align="center">--- by DAS ---</p>
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
